<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Administrace Skipping Boys</title>

    <link href="{$basePath}/css/forms.css" rel="stylesheet">
       <link href="{$basePath}/css/gallery.css" rel="stylesheet">
    
   <!-- Bootstrap -->
    <link href="{$basePath}/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{$basePath}/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="{$basePath}/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="{$basePath}/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
	
    <!-- bootstrap-progressbar -->
    <link href="{$basePath}/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="{$basePath}/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet"/>
    <!-- bootstrap-daterangepicker -->
    <link href="{$basePath}/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="{$basePath}/build/css/custom.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css" />
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="/" class="site_title"><i class="fa fa-globe"></i> <span>Skipping Boys</span></a>
            </div>
              
            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
              
              <div class="profile_info">
                <span>Vítej</span>
                <h2>Sumci</h2>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-home"></i> Domů <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/seo/uvod">SEO</a></li>
                      <li><a href="/content/uvod">Text</a></li>
                      <li><a href="/video/uvod">Video</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-pencil"></i> O nás <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                    <li><a href="/seo/o-nas">SEO</a></li>
                      <li><a href="/content/o-nas">Text</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-table"></i> Vystoupení <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                    <li><a href="/seo/vystoupeni">SEO</a></li>
                      <li><a href="/content/vystoupeni">Text</a></li>
                      <li><a href="/reference">Seznam akcí</a></li>
                      
                    </ul>
                  </li>
                  <li><a><i class="fa fa-desktop"></i> Galerie <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                    <li><a href="/seo/galerie">SEO</a></li>
                      <li><a href="/gallery/galerie">Fotky</a></li>
                      <li><a href="/video/galerie">Videa</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-phone-square"></i> Kontakt <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        
                    <li><a href="/seo/kontakt">SEO</a></li>
                      <li><a href="/content/kontakt">Text</a></li>
                    </ul>
                  </li>
                  
                  <li><a><i class="fa fa-picture-o"></i> Foto Box <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        
                    <li><a href="/gallery/photo-box">Fotky</a></li>
                      
                    </ul>
                  </li>
                  
              </div>

            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
            
              <a data-toggle="tooltip" data-placement="top" title="Logout" n:href=":Admin:HomePage:logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    sumec
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    
                    <li><a n:href=":Admin:HomePage:logout"><i class="fa fa-sign-out pull-right"></i> Odhlásit</a></li>
                  </ul>
                </li>

               
                    
                  </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          
                <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
              {include content}
                            
        </div>
                       
        
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
           
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>
              <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<link rel="stylesheet" media="screen,projection,tv"
    href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/smoothness/jquery-ui.css">

    <script src="{$basePath}/js/tinymce.init.js"></script>
     <!-- jQuery -->
    <script src="{$basePath}/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="{$basePath}/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="{$basePath}/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="{$basePath}/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="{$basePath}/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="{$basePath}/vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="{$basePath}/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="{$basePath}/vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="{$basePath}/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="{$basePath}/vendors/Flot/jquery.flot.js"></script>
    <script src="{$basePath}/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="{$basePath}/vendors/Flot/jquery.flot.time.js"></script>
    <script src="{$basePath}/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="{$basePath}/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="{$basePath}/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="{$basePath}/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="{$basePath}/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="{$basePath}/vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="{$basePath}/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="{$basePath}/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="{$basePath}/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="{$basePath}/vendors/moment/min/moment.min.js"></script>
    <script src="{$basePath}/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="{$basePath}/build/js/custom.min.js"></script>
	
    <script> <!-- Nějaký konflikt jquery a bootstrapu -->
                $.fn.bootstrapBtn = $.fn.button.noConflict();
                </script>
                <script>
/* Czech initialisation for the jQuery UI date picker plugin. */
/* Written by Tomas Muller (tomas@tomas-muller.net). */
jQuery(function($) {
    $.datepicker.regional['cs'] = {
        closeText: 'Zavřít',
        prevText: '&#x3c;Dříve',
        nextText: 'Později&#x3e;',
        currentText: 'Nyní',
        monthNames: ['leden', 'únor', 'březen', 'duben', 'květen', 'červen', 'červenec', 'srpen',
            'září', 'říjen', 'listopad', 'prosinec'],
        monthNamesShort: ['led', 'úno', 'bře', 'dub', 'kvě', 'čer', 'čvc', 'srp', 'zář', 'říj', 'lis', 'pro'],
        dayNames: ['neděle', 'pondělí', 'úterý', 'středa', 'čtvrtek', 'pátek', 'sobota'],
        dayNamesShort: ['ne', 'po', 'út', 'st', 'čt', 'pá', 'so'],
        dayNamesMin: ['ne', 'po', 'út', 'st', 'čt', 'pá', 'so'],
        weekHeader: 'Týd',
        dateFormat: 'dd. mm. yy',
        firstDay: 1,
        isRTL: false,
        showMonthAfterYear: false,
        yearSuffix: ''
    };
    $.datepicker.setDefaults($.datepicker.regional['cs']);
});
</script>

	<script>
$(document).ready(function () {
    $("input.date").each(function () { // input[type=date] does not work in IE
        var el = $(this);
        var value = el.val();
        var date = (value ? $.datepicker.parseDate($.datepicker.W3C, value) : null);

        var minDate = el.attr("min") || null;
        if (minDate) minDate = $.datepicker.parseDate($.datepicker.W3C, minDate);
        var maxDate = el.attr("max") || null;
        if (maxDate) maxDate = $.datepicker.parseDate($.datepicker.W3C, maxDate);

        // input.attr("type", "text") throws exception
        if (el.attr("type") == "date") {
            var tmp = $("<input/>");
            $.each("class,disabled,id,maxlength,name,readonly,required,size,style,tabindex,title,value".split(","), function(i, attr)  {
                tmp.attr(attr, el.attr(attr));
            });
            tmp.data(el.data());
            el.replaceWith(tmp);
            el = tmp;
        }
        el.datepicker({
            minDate: minDate,
            maxDate: maxDate
        });
        el.val($.datepicker.formatDate(el.datepicker("option", "dateFormat"), date));
    });
});
</script>
  </body>
</html>
