{define title}{$page->title}{/define}
{define description}{$page->description}{/define}
{block content}

<div class="full-column">
	<h2 class="center">Vystoupení objednávejte na <a href="mailto:info@skippingboys.cz">info@skippingboys.cz</a></h2>
  <h3 class="center"> Můžete nás sledovat i zde: </h2>
  <div class="center">
  <br /> 
  <a href="https://plus.google.com/107999492454393224553/" target="_blank"> <img src="http://www.skippingboys.cz/soc/google.jpg" alt="Google+" /> </a>
  <a href="https://www.facebook.com/SkippingBoys" target="_blank"> <img src="http://www.skippingboys.cz/soc/fb.jpg" alt="Facebook" /> </a>
  <a href="https://www.youtube.com/channel/UCaSyk-3FQaCDeUb48tyMrsg" target="_blank"> <img src="http://www.skippingboys.cz/soc/youtube.jpg" alt="Youtube" /> </a>
  <a href="https://www.instagram.com/skippingboys/" target="_blank"> <img src="http://www.skippingboys.cz/soc/insta.jpg" alt="Instagram" /> </a>
  </div>
</div>			<hr class="cleaner">
